.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin: 100px 200px;
    justify-content: center;
}

.gallery-image {
    width: 360px;
    height: 300px;
    display: block;
}
.gallery-image:hover {
    transform: scale(1.13);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
    transition: transform ms cubic-bezier(0.4, 0, 0.2, 1);
}